@import "./cards.css";
@import "./stylecheck.css";

body {
  background-color: honeydew;
}

a {
  color: #6A726A;
}

header {
  color: #6A726A;
  margin-bottom: 30px;
}

footer {
  color: #6A726A;
  background-color: white;
  min-width: 100%
}

.footerRow {
  /* text-align:center; */
}

.email-form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.sign-up-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-item {
  height: 300px;
  overflow: hidden;
  object-fit: contain;
}

.card {
  max-width: 35%
}

.listByCategory,
.priceByCategory,
h4 {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.emailCol {
  text-align: center;
}

@media only screen and (min-width: 300px) and (max-width:999px) {
  .carousel-item {
    height: 100px;
    background-size: cover;
    object-fit: contain;
  }

  .creditImage {
    height: 20%;
  }

  .card {
    max-width: 100%
  }

  .nav {
    float: right;
  }

  .firstCol,
  .cartColumn {
    text-align: center;
  }

  .on-sale-footer,
  .moreInfoFooter,
  .followUsFooter {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}